body {
	font-family:'BPG Ingiri Arial';
	font-size: 100%;
}
* {
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'BPG Arial Caps', sans-serif;	
}
a{
	text-decoration: none;
	color: inherit;
}

header {
	width: 90%;
	max-width: 1300px;
	margin:auto;
	font-family: 'BPG Arial Caps', sans-serif;	
	padding:30px 0px;
}
.clear {
	clear:both;
}
nav {
	display: inline-block;
	width:78%;
	padding-left: 50px;
	float:right;
	line-height: 90px;
}
ul li {
	display: inline-block;
	padding-right: 10px; 	
}
.active {
	color:#EE4036;
}
.container-space{
	max-width: 1300px;
	display: block;
	margin:auto;
}
#media h2 {
	display:inline;
	padding-right: 15px;
	padding-bottom:0px;

}
#media h1 {
	color:#3D58A6;
}
.icon{
	 width:30%;
     float:left;
     padding-right: 10px;
     margin-right: 20px;
     display:inline-block;
}
#media 	article {
	width: 49%;	
	max-width: 1300px;
}
#media {
   padding-top: 100px ;
}
.left {
   float: left;
   width: 45%;
   margin-left: 0px;
   background-color: #E6E6E6
}
.right {
   float:right ;
   width:45%;
   display:inline-block;

   background-color: #E6E6E6;
}
p 	{
	display: inline;
    width: 70%;
    margin-bottom: 10px;
}
  .article-container {
 padding-top: 50px;
}
#logo {
	display: inline-block;
	width: 200px;
	float:left;
}
.main-container {
	max-width: 1300px;
	width: 100%;
}
#news {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
  	justify-content: center;
  	justify-content: space-around;
  	background-color: #BECCD4;
  	padding-top: 70px; 
  	width: 1300px;   
  	
}
.images {
	width: 23%;	
	margin: 10px;
	align-self: center;
	padding-left: 50px;
	padding-right: 50px;
}
.images h1 {
	background-color: #FFF;
	margin-bottom: 10px;
	padding-bottom: 5px;
	margin-top: -2px;
	padding-left: 10px;
}
.media-flex-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.media-flex-container > div {
	display: flex;
	background-color: blue;
	height: 360px;
	width: 49%;
	background-color: red;
}
